<!DOCTYPE"HTML"PUBLIC""b//W3C//DTD"HTML"4.01//EN">
<html>
   <head>
      <title>EventeX</title>
      
      <link type="text/css" href="{{STATIC_URL}}css/bootstrap-responsive.min.css"
         rel="stylesheet" media="screen"/>
      <link type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css"
         rel="stylesheet" media="screen"/>

      <script src="http://code.jquery.com/jquery-latest.js"></script>
      <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>    
   </head>
   <body>
       <div class="container fixed">
         <div class="topbar mb-topbar">        
            <h3>
               <a href="/">
                  <img src="{{STATIC_URL}}img/logo.png" />
               </a>
            </h3>
         </div>
      <div class="well">
         <h1>Bem-vindo ao EventeX!</h1>
         <h2>O evento mais sensacional do ano depois do Dev in Rio!</h2>

         <p>Você não pode perder esta oportunidade!</p>

         <p>Abertura das inscrições em 30/01/2013.</p>

         <p>Para dúvidas e mais informações entre em contato com <a href="#">eventex@eventex.com.br</a></p>
      </div>
      <p class="pull-right">© 2013. EventeX, some rights reserved.</p>
      </div>
   </body>
</html>h